/*
Sets the default font for the page
*/
:root{
  --primary-font:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*
CSS styling for the whole page
*/
* {
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}

/*
CSS styling for the body and sets the font in the body. 
*/
body {
  height: 100%;
  font-family: var(--primary-font);
 
}

/*
CSS styling for the header
*/
header {

    height: 75px;
    width: 100vw;
    background-color: #acdae2;
    font-family: var(--primary-font);
    
  }

  /*
CSS styling navBar in the header
*/
.navBar {
    overflow: hidden;
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
  
  }
  
/*
CSS styling for the text in the nav bar. 
*/
  .navBar .text1 {
    color: white;
    padding: 15px 35px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
  }

/*
CSS styling for the left icon on the page
*/
.left {
    text-align: center;
    display: flex;
  }
  
/*
CSS styling for the right icon on the page
*/
  .right {
    position: absolute;
    right: 20px;
    text-align: left;
  }

/*
CSS styling for list for the text in the header
*/
li {
    list-style: none;
}



/*
CSS styling for list for the body of the HTML
*/
body {
    background-color:white;
  }

/*
CSS styling for the buttons used in the HTML
*/
section button {
    color: white;
    background-color: #247BA0;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    width: 40%;
}

/*
CSS styling for list for the game card in the HTML
*/
.gameCard{
    display: block;
    background-color:#f0ead6;
    text-align: center;
    width: 60vw;
    margin: 80px auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.5);
    padding: 5px 5px 10px 5px;
    border: 5px solid #f19c73;

}

/*
CSS styling for section HTML
*/
.section {
    padding-top: 20px;
  }

/*
CSS styling for context in the card
*/
.card-contents {
    padding: 5px 5px 10px 5px;
  }

/*
CSS styling for name field in the scorecard section
*/
#nameField {
  width: 30%;
  padding: 12px 10px;
  margin: 8px 8px;
  box-sizing: border-box;
  font-size: 18px;
}

/*
CSS styling for comment elements in the HTML
*/
h2,h3,p,li{
    padding-bottom: 20px;
}

p,ul{
    font-size: 20px;
}

h3{
    font-size: 30px;
}

h2{
    font-size: 35px;
}